@import "vars";
@import "fonts";
@import "global";



.header__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.header {
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(11, 11, 11, 0.3);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.logo {
  width: 240px;
  height: 55px;
  flex: none;
}
.header__btn {
  width: 60px;
  height: 60px;
  border: 1px solid $text;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $text, $alpha: 0.1);
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background-color: rgba($color: $text, $alpha: 0.4);
  }
}
.header__btn-line {
  width: 36px;
  height: 2px;
  background-color: $text;
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 2px;
    background-color: $text;
  }
  &::before {
    top: 13px;
  }
  &::after {
    bottom: 13px;
  }
}
.header-content__title {
  font-size: 96px;
  line-height: 112px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}
.header-content__text {
  max-width: 284px;
  margin-bottom: 25px;
}
.btn {
  border: 1px solid $text;
  background-color: rgba($color: $text, $alpha: 0.15);
  padding: 30px 62px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background-color: #770302;
  }
}
.slider__item {
  @include bg;
  height: 100vh;
  min-height: 650px;
}
.slider {
  .slick-dots {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    display: flex;
    height: 15px;
    position: relative;
    z-index: 2;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li + li {
      margin-left: 20px;
    }
    button {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: none;
      font-size: 0;
      line-height: 0;
      background-color: $accent;
      cursor: pointer; 
    }
    .slick-active {
      button {
        background-color: $text;
      }
    }
  }
}
.indicators {
  padding: 105px 0 100px;
}
.indicators__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.indicators__item {
  text-align: center;
  & + & {
    margin-left: 30px;
  }
}
.indicators__item-title {
  margin-bottom: 19px;
}
.indicators__item-num {
  font-size: 96px;
  line-height: 112px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 7px;
  span {
    font-size: 24px;
    line-height: 28px;
    margin-left: -20px;
  }
  &--speed {
    position: relative;
    &::after {
      content: '+';
      font-size: 24px;
      line-height: 28px;
      position: absolute;
      right: 42px;
      top: 0;
    }
  }
}
.indicators__item-desc {
  color: $text2;
}
.speed,
.advantages {
  margin-bottom: 100px;
}
.speed__inner,
.advantages__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.speed__img,
.advantages__img {
  max-width: 570px;
  width: 100%;
  min-height: 400px;
  @include bg;
}
.speed__content,
.advantages__content {
  max-width: 100%;
  width: 100%;
}
.speed__content {
  margin-right: 58px;
}
.advantages__content {
  margin-left: 58px;
}
.speed__content-title,
.advantages__content-title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: $text2;
  position: absolute;
}
.speed__content-title {
  top: 0;
  left: 0;
}
.advantages__content-title {
  text-align: right;
  bottom: 0;
  right: 0;
}
.speed__content-text {
  max-width: 303px;
}
.design {
  margin-bottom: 99px;
}
.design__img {
  width: 100%;
  min-height: 600px;
  @include bg;
  margin-bottom: 100px;
}
.design__items {
  display: flex;
}
.design__item {
  position: relative;
  max-width: 555px;
  padding-left: 105px;
  padding-top: 30px;
  & + & {
    margin-left: 74px;
  }
}
.design__item-num {
  position: absolute;
  top: 0;
  left: 0;
  color: $text2;
}
.footer {
  padding-top: 83px;
  padding-bottom: 20px;
  background-color: $accent2;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__btn {
  margin-bottom: 83px;
}
.footer__menu {
  display: flex;
}
.footer__menu-item {
  padding: 0 14px;
  position: relative;
  & + & {
    padding-left: 17px;
    &::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 2px;
      background-color: $text;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
.footer__menu-link {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $text;
    transform-origin: center;
    transform: scale(0);
    transition: all .3s;
  }
  &:hover::after {
    transform: scale(1);
  }
}